.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color: #000000, $alpha: 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__content {
    width: 516px;
    height: 252px;
    background-color: white;
    border-radius: 10px;

    .modal__content_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 68px;
        background-color: #D44637;


        .modal__content_text {
            font-family: sans-serif;
            font-weight: 700;
            font-size: 22px;
            line-height: 60px;
            color: black;
            margin-left: 30px;
        }

        .modal__content_img {
            width: 20px;
            height: 20px;
            margin-right: 30px;
            cursor: pointer;

        }
    }

    .modal__content_description {
        height: 184px;
        background-color: #E74C3C;
        display: flex;
        text-align: center;
        flex-direction: column;

        .modal__content_description_text {
            padding-top: 24px;
            font-style: normal;
            font-weight: 800;
            font-size: 15px;
            line-height: 30px;
        }
    }
}

.modal__content_description_buttons {
    margin-top: 35px;
}

.modal__content_description_agree {
    width: 101px;
    height: 41px;
    margin-right: 10px;
    background-color: #B3382C;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.modal__content_description_disagree {
    width: 101px;
    height: 41px;
    margin-right: 10px;
    background-color: #B3382C;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}