* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 300px;
}

.buttonModal {
    padding: 25px 20px;
    margin-right: 25px;
    cursor: pointer;
    background-color: rgb(109, 237, 154);
    border-radius: 5px;

    &:last-child {
        background-color: rgb(58, 112, 109);
    }
}